//Text Colors
$color-text-black:#140330;
$color-text-grey:#818182;
$color-text-blue: #5F98D1;
$color-text-purple: #9482D6;

//Background Colors
$color-background-pink: #FCF4F5;
$color-background-salmon: #E6A898;
$color-background-blue: #F1F8FF;
$color-background-dark-blue: #DBEDFF;
$color-background-grey: #F5F6F7;
$color-background-light-purple: #F4F1FF;
$color-background-dark-purple: #D9CEFF;


