//Text Colors
$color-text-black:#140330;
$color-text-grey:#3f3f40;
$color-text-blue: #396899;
$color-text-purple: #7b67c5;

//Background Colors
$color-background-pink: #FCF4F5;
$color-background-blue: #F1F8FF;
$color-background-dark-blue: #DBEDFF;
$color-background-grey: #F5F6F7;
$color-background-light-purple: #F4F1FF;
$color-background-dark-purple: #D9CEFF;

//Button Colors
$color-button-salmon: #E6A898;
$color-button-blue: #56AAFD;

