
//Primary Colors
$color-primary-grey:#818182;
$color-primary-black:#140330;
$color-primary-blue: #F1F8FF;
$color-primary-dark-blue: #2E66E5;
$color-primary-light-blue: #EBE5FC;

//Secondary Colors
$color-secondary-grey: #6C757D;
$color-secondary-dark-grey:#54595E;
$color-secondary-light-grey: #E9E9E9;
$color-seconday-purple: #E0CFFC;
$color-secondary-light-purple: #C29FFA;

//Background Colors
$color-background-light-grey: #F5F6F7;

