@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.contact {
    background-color: $color-background-light-purple;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        padding: 6rem;
    }

    &__heading {
        color: $color-text-purple;
        margin-bottom: 3rem;

        @include tablet {
            margin-bottom: 5rem;
        }
    }

    &__card {
        width: 19rem;
        background-color: white;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        @include tablet {
            width: 40rem;
        }

        @include desktop {
            flex-direction: row;
            width: 67rem;
        }
    }

    &__details {
        width: 17rem;
        height: 13rem;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        order: 2;

        @include tablet {
            width: 32rem;
            height: 20rem;
            padding: 4rem 0;
        }

        @include desktop {
            padding: 0 0 0 4rem;
            order: 1;
        }
    }

    &__name {
        padding-bottom: 0.5rem;

        @include tablet {
            font-size: 2rem;
            padding-bottom: 0.75rem;
        }
    }

    &__info {
        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__links {
        width: 7rem;
        display: flex;
        justify-content: space-between;

        @include tablet {
            width: 11rem;
            margin-left: -1rem;
        }
    }

    &__profile {
        background-color: $color-background-pink;
        padding-bottom: 1rem;

        @include tablet {
            width: 40rem;
            height: 25rem;
        }
    }

    &__image {
        width: 11rem;
        border-radius: 50%;
        position: relative;
        top: 4rem;
        right: 2rem;

        @include tablet {
            width: 18rem;
            left: 1rem;
        }

        @include desktop {
            width: 17rem;
            top: 4.5rem;
            left: 0rem;
        }
    }

    &__dots {
        position: relative;
        width: 6rem;
        bottom: 3rem;
        left: 1.5rem;

        @include tablet {
            width: 10rem;
            left: 3rem;
            bottom: 5rem;
        }

        @include desktop {
            width: 9rem;
            bottom: 5rem;
            left: 3rem;
        }
    }

    &__lines {
        position: relative;
        width: 5.5rem;
        top: 0.5rem;
        left: 12.5rem;

        @include tablet {
            width: 10rem;
            left: -1rem;
            top: 6rem;
        }

        @include desktop {
            width: 9rem;
            top: 6rem;
            left: -3rem;
        }
    }
}
