@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.hero {
    height: 20rem;
    width: 18rem;
    margin: 0 auto;
    text-align: center;
    padding: 6.5rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
        height: 25rem;
        width: 40rem;
        padding: 9rem 0 5rem;
    }

    @include desktop {
        height: 23rem;
        width: 38rem;
        padding: 8.5rem 2rem 4rem;
    }

    &__links {
        width: 10rem;
        display: flex;
        justify-content: space-between;
        margin: 1rem auto;

        @include tablet {
            width: 13rem;
            margin: 0 auto;
        }
    }

    &__icon {
        box-shadow: 0 1px 12px -6px gray;
        border-radius: 0.5rem;
    }
}
