@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.projects {
    background-color: $color-background-blue;
    margin: 0 auto;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        padding: 6rem 0 1rem;
    }

    @include desktop {
        padding: 6rem;
    }

    &__heading {
        color: $color-text-blue;
        margin-bottom: 3rem;
    }

    &__card {
        width: 19rem;
        background-color: white;
        margin-bottom: 3rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        @include tablet{
            width: 45rem;
            flex-direction: row;
            margin-bottom: 5rem;
        }

        @include desktop {
            width: 67rem;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 1rem;
        order: 2;

        @include tablet {
            padding: 6rem 2rem;
            order: 0;
        }

        @include desktop {
            // height: 10rem;
            padding: 5rem 3rem 5rem 4rem;
            
        }
    }

    &__image {
        width: 16rem;
        padding: 2.5rem 2rem;

        @include tablet{
            padding: 8.2rem 3.25rem;
        }


        @include desktop {
            width: 26rem;
            padding: 5rem 3.75rem;
        }

        &--pink {
            background-color: $color-background-pink;
        }

        &--blue {
            background-color: $color-background-dark-blue;
            padding: 1.2rem 0;
        }
    }

    &__info {
        padding: 1rem 0 1.25rem;
    }

    &__button {
        font-size: 0.75rem;
        text-align: center;
        width: 8rem;
        padding: 1rem;
        border-radius: 2rem;
        border: none;
        color: white;

        @include tablet{
            width: 10rem;
            font-size: 1rem;
            margin-top: 0.5rem;
        }
    }

    &__button-pink{
        background-color: $color-button-salmon;
    }

    &__button-blue{
        background-color: $color-button-blue;
    }
}
