@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.footer{
    &__text{
        background-color: $color-background-dark-purple;
        color: $color-text-purple;
        font-size: 0.75rem;
        padding: 3rem 0;
        text-align: center;
    }
}