@use "./styles/colors" as *;
@use "./styles/typography" as *;
@use "./styles/variables" as *;
@use "./styles/mixins" as *;

body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
    color: $color-text-grey;
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 400;
}

h2{
    font-size: 2.2rem;
}

h4 {
    font-weight: 500;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
}

p{
    font-weight: 300;
}

a {
    text-decoration: none;
    color: $color-text-grey;
}