@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.tech{
    margin: 0 auto;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include desktop{
        padding: 6rem;
    }

    &__heading{
        padding-bottom: 3rem;
    }

    &__stack{
        display: flex;
        flex-wrap: wrap;
        width: 17.5rem;
        justify-content: space-between;

        @include tablet{
            width: 36.5rem;
            justify-content: space-evenly;
        }        

        @include desktop{
            width: 66.5rem;
            justify-content: space-between;
        }
    }

    &__info{
        box-sizing: border-box;
        text-align: center;
        width: 8rem;
        height: 8.5rem;
        margin-bottom: 1.5rem;
        padding: 1rem;
        background-color: $color-background-grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        @include tablet{
            width: 15rem;
            height: 15rem;
            margin-bottom: 2rem;
            justify-content: space-around;
            padding: 1rem 2rem 2rem;
        }  
    }
    
    &__image{
        width: 4rem;
        padding-bottom: 1rem;

        @include tablet{
            width: 6rem;
            padding: 2rem 2rem 3rem;
        }  


        @include desktop{
            width: 6rem;
            padding: 2rem 2rem 3rem;
        }
    }

    &__image-bigger{
        width: 4rem;
        padding-top: 1rem;

        @include tablet{
            width: 8rem;
            padding-top: 3rem;
        }
    }
}