@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;


.nav {
    box-shadow: 0 1px 8px -4px grey;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

    @include desktop{
        padding: 2rem 6rem;
    }
    

    &__logo{
        color: $color-text-black;
        font-weight: bold;
        flex-grow: 5;
        letter-spacing: 0.5rem;
    }

    &__list{
        display: none;

        @include desktop{
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
        }
    }
}