@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;


.nav {
    box-shadow: 0 1px 8px -4px gray;
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;

    &__logo{
        color: $color-primary-black;
        font-weight: bold;
        flex-grow: 5;
    }

    &__list{
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
    }
}